[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm
	shallow = true
[submodule "external/lodepng"]
	path = external/lodepng
	url = git@github.com:lvandeve/lodepng
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = git@github.com:leethomason/tinyxml2
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = git@github.com:thestk/rtmidi
