game
server_bin
Debug
Release
*.vcxproj.user
src/client/gen
tools/tools
tools/build
*.sdf.png
build
Makefile
SDL2.dll
glew32.dll
external/SDL2-2.0.5
external/glew-2.1.0
Game.app
x64/Debug_server/
imgui.ini
