[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm
	shallow = true
[submodule "external/lodepng"]
	path = external/lodepng
	url = git@github.com:lvandeve/lodepng
[submodule "win_glfw3"]
	path = win_glfw3
	url = git@github.com:jaburns/win_glfw3
